{% extends 'base.html' %}

{% block content_public %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow border-0 rounded-4 p-4">

                <h2 class="text-center mb-4">
                    Login
                </h2>

                <form method="POST"
                      autocomplete="off">

                    {% csrf_token %}

                    <!-- USERNAME -->
                    <div class="mb-3">

                        <label class="form-label">
                            Username
                        </label>

                        <input type="text"
                               name="username"
                               class="form-control"
                               placeholder="Enter username"
                               autocomplete="off"
                               required>

                    </div>

                    <!-- PASSWORD -->
                    <div class="mb-4">

                        <label class="form-label">
                            Password
                        </label>

                        <input type="password"
                               name="password"
                               class="form-control"
                               placeholder="Enter password"
                               autocomplete="new-password"
                               required>

                    </div>

                    <!-- ERROR -->
                    {% if error %}

                    <div class="alert alert-danger">

                        {{ error }}

                    </div>

                    {% endif %}

                    <!-- BUTTON -->
                    <button type="submit"
                            class="btn btn-primary w-100">

                        Login

                    </button>

                </form>

                <!-- REGISTER -->
                <div class="text-center mt-4">

                    <p class="mb-0">

                        Don't have an account?

                        <a href="{% url 'register' %}">
                            Register
                        </a>

                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}