{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>
        My Tickets
    </h2>

    {% if user.role == 'user' %}
    <a href="/tickets/create/"
       class="btn btn-primary">

        + Create Ticket

    </a>
    {% endif %}

</div>

<!-- ========================= -->
<!-- SEARCH + FILTER -->
<!-- ========================= -->

<div class="card shadow-sm mb-4">

    <div class="card-body">

        <form method="GET">

            <div class="row g-3">

                <!-- SEARCH -->
                <div class="col-md-3">

                    <input type="text"
                           name="search"
                           class="form-control"
                           placeholder="Search ticket title"
                           value="{{ request.GET.search }}">

                </div>

                <!-- STATUS -->
                <div class="col-md-2">

                    <select name="status"
                            class="form-select">

                        <option value="">
                            All Status
                        </option>

                        <option value="open"
                        {% if request.GET.status == 'open' %}
                        selected
                        {% endif %}
                        >
                            Open
                        </option>

                        <option value="in_progress"
                        {% if request.GET.status == 'in_progress' %}
                        selected
                        {% endif %}
                        >
                            In Progress
                        </option>

                        <option value="resolved"
                        {% if request.GET.status == 'resolved' %}
                        selected
                        {% endif %}
                        >
                            Resolved
                        </option>

                        <option value="escalated"
                        {% if request.GET.status == 'escalated' %}
                        selected
                        {% endif %}
                        >
                            Escalated
                        </option>

                    </select>

                </div>

                <!-- DEPARTMENT -->
                <div class="col-md-3">

                    <select name="department"
                            class="form-select">

                        <option value="">
                            All Departments
                        </option>

                        {% for department in departments %}

                        <option value="{{ department.id }}"

                        {% if request.GET.department == department.id|stringformat:"s" %}
                        selected
                        {% endif %}
                        >

                            {{ department.name }}

                        </option>

                        {% endfor %}

                    </select>

                </div>

                <!-- PRIORITY -->
                <div class="col-md-2">

                    <select name="priority"
                            class="form-select">

                        <option value="">
                            All Priority
                        </option>

                        <option value="low"
                        {% if request.GET.priority == 'low' %}
                        selected
                        {% endif %}
                        >
                            Low
                        </option>

                        <option value="medium"
                        {% if request.GET.priority == 'medium' %}
                        selected
                        {% endif %}
                        >
                            Medium
                        </option>

                        <option value="high"
                        {% if request.GET.priority == 'high' %}
                        selected
                        {% endif %}
                        >
                            High
                        </option>

                    </select>

                </div>

                <!-- BUTTON -->
                <div class="col-md-2">

                    <button type="submit"
                            class="btn btn-dark w-100">

                        Filter

                    </button>

                </div>

            </div>

        </form>

    </div>

</div>

<!-- ========================= -->
<!-- TICKET CARDS -->
<!-- ========================= -->

<div class="row">

{% for ticket in tickets %}

    <div class="col-md-6 mb-4">

        <div class="card shadow-sm h-100">

            <div class="card-body">

                <!-- TITLE -->
                <div class="d-flex justify-content-between align-items-start">

                    <h4>

                        <a href="{% url 'ticket_detail' ticket.id %}"
                           class="text-decoration-none">

                            {{ ticket.title }}

                        </a>

                    </h4>

                    <!-- STATUS BADGE -->
                    {% if ticket.status == 'open' %}

                        <span class="badge bg-warning">
                            Open
                        </span>

                    {% elif ticket.status == 'in_progress' %}

                        <span class="badge bg-info">
                            In Progress
                        </span>

                    {% elif ticket.status == 'resolved' %}

                        <span class="badge bg-success">
                            Resolved
                        </span>

                    {% elif ticket.status == 'escalated' %}

                        <span class="badge bg-danger">
                            Escalated
                        </span>

                    {% endif %}

                </div>

                <hr>

                <!-- DESCRIPTION -->
                <p>
                    <strong>Description:</strong>
                    {{ ticket.description }}

                </p>

                <!-- DETAILS -->
                <p>
                    <strong>Created By:</strong>
                    {{ ticket.created_by.username }}
                </p>

                <p>
                    <strong>Email:</strong>
                    {{ ticket.created_by.email }}
                </p>

                <p>
                    <strong>Priority:</strong>

                    {% if ticket.priority == 'high' %}
                        <span class="text-danger fw-bold">
                            High
                        </span>

                    {% elif ticket.priority == 'medium' %}
                        <span class="text-warning fw-bold">
                            Medium
                        </span>

                    {% else %}
                        <span class="text-success fw-bold">
                            Low
                        </span>

                    {% endif %}
                </p>

                <p>
                    <strong>Department:</strong>
                    {{ ticket.department }}
                </p>

                <p>
                    <strong>Assigned To:</strong>

                    {% if ticket.assigned_to %}
                        {{ ticket.assigned_to.username }}
                    {% else %}
                        Not Assigned
                    {% endif %}
                </p>

                <p>
                    <strong>Created On:</strong>
                    {{ ticket.created_at }}
                </p>

                <!-- ESCALATION -->
                {% if ticket.escalation_reason %}

                <div class="alert alert-danger">

                    <strong>Escalation Reason:</strong>

                    <br>

                    {{ ticket.escalation_reason }}

                </div>

                {% endif %}

            </div>

            <!-- BUTTONS -->
            
            <div class="card-footer bg-white">

                <a href="{% url 'ticket_detail' ticket.id %}"
                   class="btn btn-dark btn-sm">

                    View Details

                </a>

                <!-- ADMIN BUTTONS -->

                {% if user.role == 'admin' %}

                <a href="{% url 'assign_ticket' ticket.id %}"
                   class="btn btn-primary btn-sm">

                    Assign

                </a>

                <a href="{% url 'edit_ticket' ticket.id %}"
                   class="btn btn-warning btn-sm">

                    Edit

                </a>

                <a href="{% url 'delete_ticket' ticket.id %}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure you want to delete this ticket?')">

                    Delete

                </a>

                {% endif %}

            </div>

            

        </div>

    </div>

{% empty %}

    <div class="alert alert-info">

        No tickets found.

    </div>

{% endfor %}

</div>

{% endblock %}